
@import url('https://fonts.googleapis.com/css2?family=Jacquard+24+Charted&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poetsen+One&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'open sans',sans-serif;
}
main{
width: 100%;
height: 100vh;
background-color: darkcyan;
display: flex;
justify-content: center;
align-items: center;
}
.box{
    background-color: aliceblue;
    min-height: 500px;
    width: 700px;
    border-radius: 5px;
    padding: 15px;
}
#item{
width: 100%;
padding: 10px;
font-size: 20px;
font-weight: bold;
outline: 0;
display: block;
border: 0;
box-shadow: 0px 0px 2px greenyellow;

}
#to-do-box{
    margin-top: 20px;
    list-style: none;
}
#to-do-box li{
    position: relative;
    padding: 10px;
    color: rgba(240, 221, 44, 0.859);
    background-color: #4e0e73;
    font-size:20px;
    border-radius: 2px;
    padding-right: 20px;
    text-align: justify;
    margin-top: 10px;
    user-select: none;

}
#to-do-box li i {
    position: absolute;

    right: 10px;
    top: 10px;
    
}
.done{
    text-decoration: line-through;
    color: black;
    background-color: #95a5a6 !important;

}
